.footer-wrap{
    display: flex;
    color: white;
    background-color: #1A1A1A;
    margin-bottom: -30px;
    margin-top: 30px;
    padding: 10px;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer-name{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    gap: -5px;
    margin-bottom: 30px;
}

.footer-name-plus{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    gap: -5px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-icon{
    font-size: xx-large;
    object-fit: cover;
}

.footer-icon a{
    color: white;
}

.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button{
    margin-top: 10px;
    background-color: #EF4234;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 100px; 
}

.line-div{
    display: flex;
    justify-content: center;
}

.line{
    background-color: white;
    height: 2px;
    width: 85vw;
}

.rigth{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    background-color: #1A1A1A;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 600px) {
    
    .footer-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    

}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 600px)
and (max-width : 1024px){

    .line{
        visibility: hidden;
    }


}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}