.header-lateral-wrap {
  background-color: #1A1A1A;
  width: 60vw;
  height: 101vh;
  position: fixed;
  z-index: 4;
  top: 0;
  color: white;
  margin-left: -60vw;
}
.active-header{
  background-color: #1A1A1A;
  width: 60vw;
  height: 101vh;
  position: fixed;
  z-index: 4;
  top: 0;
  color: white;
  margin-left: 0;
}

.header-options{
  height: 100%;
}

.logo-lateral-bars{
  display: flex;
  justify-content: center; 
  margin-top: 30px;
  font-size: xx-large;
  color: #EF4234;
}

.header-lateral-options{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-options {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.Lateral{
  display: flex;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  font-size: large;
  border-radius: 30px;
}

.header-options li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 30px;
  width: 165px;
  transition: background-color 0.4s ease
}


.li-categories {
  width: 165px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.categorie-with-icon {
  display: flex;
  align-items: center;
  padding-right: 20px;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 30px;
  height: auto;
  width: 165px;
  background-color: rgb(14, 14, 14);
  transition: background-color 0.4s ease
}

.categorie-with-icon:hover{
  background-color: #313131;
}

.header-options li:hover {
  background-color: rgb(29, 29, 29);
}


details{
  summary{
    background-color: rgb(14, 14, 14);
    color: rgb(255, 255, 255);
    list-style: none;
    border-radius: 20px;
  }
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 650px) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 650px) and (max-width : 1024px) {

  .header-lateral-wrap {
    width: 40vw;

  }

  .header-options {
    font-size: large;
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {

  .header-lateral-wrap{
    width: 40vw;
}

.header-options {
  font-size: large;
}

}