.Interestelar-img-wrap{
    background-image: url("/images/InterestelarHeader.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 0;
}

.header-img-2{
    display: flex;
    align-items: start;
    flex-direction: column;
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
} 


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 450px) {
    .Interestelar-img-wrap{
        height: 60vh;
        width: 100vw;
        background-size: cover;
        background-position: -400px;
    } 
    
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 451px)
and (max-width : 1224px){

    .Interestelar-img-wrap{
        height: 65vh;
    } 
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {  

    .Interestelar-img-wrap{
        height: 700px;
        width: 100%;
    }



}