.interestelar-wrap {
    padding: 50px 0px 50px 0px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.interestelar-background {
    background-color: #1A1A1A;
    border-radius: 10px;
    height: 350px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interestelar-content {
    color: white;
    display: flex;
    gap: 20px;
}

.interestelar-category {
    color: #EF4234;
}

.interestelar-button {
    margin-top: 10px;
    background-color: #EF4234;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 100px;
}

.interestelas-img {
    height: 250px;
    width: 150;
    object-fit: cover;
    border-radius: 5%;
}

/* .interestelar-text {
} */

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 450px) and (max-width : 1224px) {
    .interestelas-img {
        height: 300px;
        width: 250px;
        top: 5%;
        left: -8%;
        object-fit: contain;
        max-width: 300px;
        min-width: 200px;
        /* max-height: fit-content; */
        border-radius: 5%;
    }

    .interestelar-content {
        display: flex;
        align-items: center;
        justify-content: start;
        /* justify-content: center; */
    }

    .interestelar-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* align-self: end; */
        /* margin-left: 400%; */
    }

    .interestelar-background {
        background-color: #1A1A1A;
        border-radius: 10px;
        height: 400px;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    
    .interestelas-img {
        height: 350px;
        width: 300px;
        top: 5%;
        left: -8%;
        object-fit: contain;
        border-radius: 5%;
    }

    .interestelar-content {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .interestelar-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .interestelar-background {
        background-color: #1A1A1A;
        border-radius: 10px;
        height: 400px;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}