.subscription-wrap{
    display: flex;
    padding: 50px;
    color: white;
    background-color: #1A1A1A;
    gap: 10px;
}

.button{
    margin-top: 10px;
    background-color: #EF4234;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 100px;
}

.subscription-button{
    display: flex;
    justify-content: center;
}