.header-wrap {
  width: 99%;
  position: absolute;
  z-index: 4;
  height: 100px;
  padding: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.header-main-a{
  transition: .2s ease-in-out;
}

.header-main-a:hover{
  scale: calc(.9);
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: #ef3434;
  transition: 0.4s ease;
}

.logo-header img{
  height: 100px;
  width: 100px;
}

.logo-bars:hover {
  color: #ff0000;
  transition: 0.4s ease;
}

.navivar {
  a {
    text-decoration: none;
    color: #EF4234;
    font-size: xx-large;
    transition: 0.4s ease;
  }

  a:hover {
    color: #ff0000;
    transition: 0.4s ease;
  }
}



.header-lateral-wrap {
  background-color: #1A1A1A;
  width: 60vw;
  height: 101vh;
  position: fixed;
  z-index: 4;
  top: 0;
  color: white;
  margin-left: -60vw;
}

.active-header {
  background-color: #1A1A1A;
  width: 60vw;
  height: 101vh;
  position: fixed;
  z-index: 4;
  top: 0;
  color: white;
  margin-left: 0;
}

.logo-lateral-bars {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-right: 20px;
  font-size: xx-large;
  color: #EF4234;
  height: 50vh;
}

.header-lateral-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-options {
  list-style-type: none;
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 0;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.Lateral {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  font-size: large;
}

.header-options li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 30px;
  width: 165px;
  background-color: black;
  transition: background-color 0.4s ease
}


.li-categories {
  width: 165px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.categorie-with-icon {
  display: flex;
  align-items: center;
  padding-right: 20px;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: 30px;
  height: auto;
  width: 165px;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.4s ease
}

.Lateral-categorie{
  text-decoration: none;
}

.categorie-with-icon:hover {
  background-color: rgb(126, 61, 61);
}

.header-options li:hover {
  background-color: rgb(126, 61, 61);
}


details {
  summary {
    color: rgb(255, 255, 255);
    list-style: none;
  }
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 650px) {
  .header-menu {
    visibility: hidden;
  }

  .logo-header img{
    display: none;
  }

}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 651px) and (max-width : 1024px) {
  .header-menu {
    list-style-type: none;
    display: flex;
    gap: 30px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;

  }

  .header-menu li a {
    text-decoration: none;
    color: #fff;
  }

  .icon{
    display: none;
  }

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
  .header-menu {
    list-style-type: none;
    display: flex;
    gap: 30px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
  }

  .header-menu li a {
    text-decoration: none;
    color: #fff;
  }

  .icon{
    display: none;
  }

}