.header-wrap{
    width: 100%;
    position: absolute;
    z-index: 4;
    margin-top: -15px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 0px 15px;
}

.icon-user{
    height: 40px;
    width: 40px;
    color: rgb(0, 0, 0);
    margin: 15px 15px 0px 0px;
}






/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 450px) {
    
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px){
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

