.carrusel-wrap{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    color: white;
    overflow: scroll;
    width: 94%;
    margin-left: 20px;
    overflow-y: hidden;
}

.carrusel-images{
    display: flex;
    align-items: center;
    flex-direction: column;}

.carrusel-images h5{
    margin-bottom: -10px;
}

.carrusel-image-images img{
    height: 304px;
    width: 224px;
    object-fit: contain;
    border-radius: 50px;
}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 600px) {
    
    

}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 600px)
and (max-width : 1024px){



}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}